html {
  scroll-behavior: smooth;
}

/* Basic styling for the navigation */
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style the sections */
section {
  padding: 60px 20px;
  margin: 20px 0;
  height: 100vh; /* Make each section take up the full height of the viewport */
}

/* Background colors for the sections */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: white;
}

/* Title styling */
h1 {
  font-size: 3em;
  margin: 0;
}

/* Underline for the second line */
h1 span + span {
  text-decoration: underline;
}

/* Color for the word "One" */
.orange-text {
  color: orange;
}

#criteria {
  background-image: url('cordelia_criteria.png'); /* Ensure this path is correct */
  background-size: cover; /* Make the image cover the entire section */
  background-position: center center; /* Center the image */
  /* background-attachment: fixed; Remove for testing */
  height: 100vh; /* Make the section take up the full height of the viewport */
  min-height: 100vh; /* Ensure a minimum height of 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color to stand out against the background */
  text-align: center; /* Center the text */
  padding: 20px; /* Space around content */
}

#criteria h2 {
  font-size: 2.5em;
  margin: 0;
}

#criteria p {
  font-size: 1.2em;
}


/* Full page background image for promise.html */
#promise {
  background-image: url('cordelia_promise.png'); /* Update with the correct path */
  background-size: cover; /* Make the image cover the entire screen */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Fix the background so it doesn't scroll with content */
  height: 100vh; /* Make the section take up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Text color to stand out against the background */
  text-align: center; /* Center the text */
  padding: 20px;
}

#promise h2 {
  font-size: 2.5em;
  margin: 0;
}

#promise p {
  font-size: 1.2em;
}

#about {
  background-color: white;
  color: black; 
}

#contact {
  background-color: darkgrey; 
  color: white; 
}

/* Add some padding to the body for overall layout */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}






